body{
  display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    user-select: none;
}
.cal-container{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}